<!-- footer -->
<footer>
  <div class="container">
    <div class="w3-agileits-footer-grids">
      <div class="col-md-3 w3ls-footer-grid">
        <h4>About <span>Agrico Farm</span></h4>
        <div class="wthree-footer-info">
          <p>Etiam feugiat malesuada arcu, eget eleifend eros interdum vel. Duis sit amet nisl in urna vulputate sodales sit amet sed enim.</p>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> : 34 Forbes Road, Randburg</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> : +27 567 9871</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> : <a href="mailto:info@example.com">mail@example.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 w3ls-footer-grid">
        <h4>Recent <span>Posts</span></h4>
        <div class="agile-post-grids">
          <div class="agile-post-grid">
            <div class="col-md-5 agile-post-left">
              <a href="single.html">
                <img src="images/p1.jpg" alt="" />
              </a>
            </div>
            <div class="col-md-7 agile-post-right">
              <h5><a href="single.html">Nulla at arcu eu justo blandit.</a></h5>
              <p><i class="fa fa-calendar-o" aria-hidden="true"></i> 13 Sept 2017</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="agile-post-grid">
            <div class="col-md-5 agile-post-left">
              <a href="single.html">
                <img src="images/p2.jpg" alt="" />
              </a>
            </div>
            <div class="col-md-7 agile-post-right">
              <h5><a href="single.html">Nulla at arcu eu justo blandit.</a></h5>
              <p><i class="fa fa-calendar-o" aria-hidden="true"></i> 24 Aug 2017</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 w3ls-footer-grid">
        <h4>Our <span>Navigation</span></h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/icons">Icons</a></li>
          <li><a href="/codes">Short Codes</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3ls-footer-grid">
        <h4>Flickr <span>Images</span></h4>
        <div class="w3l-footer-popular">
          <div class="popular-grids">
            <div class="popular-grid">
              <a href="single.html"><img src="images/p1.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p2.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p3.jpg" alt=""></a>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="popular-grids">
            <div class="popular-grid">
              <a href="single.html"><img src="images/p4.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p1.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p2.jpg" alt=""></a>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="popular-grids">
            <div class="popular-grid">
              <a href="single.html"><img src="images/p3.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p4.jpg" alt=""></a>
            </div>
            <div class="popular-grid">
              <a href="single.html"><img src="images/p1.jpg" alt=""></a>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="agileits-w3layouts">
  <div class="container">
    <p>© 2017 Agrico Farm. All rights reserved</p>
  </div>
</div>
