<div class="header">
  <div class="container">
    <div class="header-left">
      <div class="w3layouts-logo">
        <h1>
          <a href="/">Africa <span>Harvest</span></a>
        </h1>
      </div>
    </div>
  </div>
</div>
