<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.9760650106523!2d28.004811315027904!3d-26.099699983484477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9574a2cc9fcda1%3A0xc161e3eb1cb06ede!2s34+Forbes+Rd%2C+Blairgowrie%2C+Randburg%2C+2194!5e0!3m2!1sen!2sza!4v1505470764574" allowfullscreen></iframe>
</div>
